* {
	margin:0;
	padding:0;
	text-align:justify;
}

body {
	background-color:#eae6ec;
}

header {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/lauren-mancke-60627.jpg");
	background-size:cover;
	width:100%;
	height:450px;
	display:table;
}

#logo {
	float:left;
	margin-top:20px;
	margin-left:20px;
}

header h1 {
	color:#f59040;
	font-family:sans-serif;
	font-size:400%;
	text-align:right;
	margin-top:70px;
	margin-right:80px;
}

header aside {
	color:white;
	font-family:sans-serif;
	font-size:200%;
	text-align:right;
	margin-right:80px;
}

h2 {
	font-size:250%;
	width:750px;
	margin: 0 auto;
	text-align:center;
	padding:25px;
}
p {
	width: 800px;
	font-family: sans-serif;
	font-size:150%;
	line-height: 1.8;
	margin:0 auto;
}

ul {
	width:800px;
	margin:25px auto;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}
li {
	width:600px;
	margin:0 auto;
	padding:10px;
	font-size:150%;
	list-style-image: url("images/list.png")
}

h3 {
	font-size:200%;
	font-family:sans-serif;
	width:700px;
	margin:20px auto;
	text-align:center;
}
.sub-sub-p {
	font-size:120%;
}

section {
	padding:50px;
}
section:nth-child(even) {
	background-color:white;
}

blockquote {
	width:400px;
	font-style:italic;
	font-size:120%;
	margin:0 auto;
}

#footer{
	font-size:140%;
}

#footer-p {
	font-size:120%;
	line-height: 1.2;
	padding-bottom: 20px;
}

#footer-outer {
	background-color:#000;
	color:#fff;
}